// #menu-main-menu {
//   border: none !important;
// }
@import "partials/fonts";
@import "partials/mixins";
@import "partials/variables";
@import "partials/header";
@import "partials/home";
@import "partials/blog-article";

/* Fonts */

$sans: 'firasans';
$playfair: 'PlayfairDisplay';
$playfair-black: 'PlayfairDisplay Black';
$abril-fatface: 'Abril Fatface';
$majesti-banner: 'MajestiBanner';
$majesti-bold: 'MajestiBanner Bold';

/* titles: MajestiBanner Medium */
/* subtitle: Firasans regular */

/* italicized headings: MajestiBanner bolditalic */
/* Body copy: MillerBanner Roman */
// h1 { font-family: $majesti-banner !important; font-weight: 100 !important;}

// h2 { font-family: $sans !important; font-weight: 100 !important;}

// a {font-family: $playfair !important; font-weight: 100; opacity: .8;}
a:hover {color: $black;opacity: 1;transition: opacity$fast;}

a.dropdown-toggle:hover { color: $black;}

// header .navbar-default .navbar-nav > li > a, header .fallback_cb > ul > li > a { font-family: $sans !important; font-weight: 100; }
