.single-post {
  // background: red;
  #wpadminbar {
    display: none;
  }
  .container-fluid {
    header {
      .logo_left {
        display: none;
      }
    }
  }
  .container {
    max-width: none;
    padding-left: 0;
    padding-right: 0;

    .hero {
      position: relative;
      text-align: center;
      display: block;
      img {
        width: 100%;
        max-width: 100%;
      }
    }
    .main_content {
      padding: 0 35px;
    }
  }
  header {

   .navbar-header {
    .navbar-toggle {
      // display: block;
    }

   }
   .navbar-collapse {
      // display: none !important;
      &.in {
        display: block !important;
      }
    }
  }
}


body.category {
  .container-fluid {
    header {
      .col-md-4:not(.top-nav) {
        display: none;
      }
    }
  }
}